Django
dj-database-url==0.4.2
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
# Pillow==3.3.0
Markdown==2.6.6
psycopg2==2.7.1
whitenoise==3.3.0
cairocffi==0.8.0
CairoSVG==1.0.22
bleach==2.0.0
django-dajax==0.9.2
django-widget-tweaks==1.4.1